<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">


    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/index"> <i class="menu-icon fa fa-dashboard"></i>首页 </a>
                </li>
                <h3 class="menu-title">设备管理</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>树莓派</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><a href="/piget">查看树莓派</a></li>

                        <li><a href="/pichange">修改树莓派</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-fire"></i>传感器</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><a href="/sensorget">查看传感器</a></li>
                        <li><a href="/sensortypeadd">添加传感器类型</a></li>
                        <li><a href="/sensorchange">修改传感器</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-paper-plane"></i>响应设备</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><a href="/responseget">查看响应设备</a></li>
                        <li><a href="/responsetypeadd">添加响应设备类型</a></li>
                        <li><a href="/responsechange">修改响应设备</a></li>
                    </ul>
                </li>

                <h3 class="menu-title">监控管理</h3><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bars"></i>监控计划</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><a href="/monitorget">查看监控计划</a></li>
                        <li><a href="/monitoradd">添加监控计划</a></li>
                        <li><a href="/monitorchange">修改监控计划</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/dataget"> <i class="menu-icon fa fa-bar-chart"></i>查看监控数据 </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>

<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            </div>
        </div>
    </header>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div th:if=" ${status} ==1" class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                        <span class="badge badge-pill badge-success">Success</span>
                        添加响应外设类型成功
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div th:if=" ${status} ==0" class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        <span class="badge badge-pill badge-danger">Failed</span>
                        添加响应外设类型失败！
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            新增响应外设类型
                        </div>
                        <div class="card-body card-block">
                            <form action="/addResponseDeviceType" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="name" class=" form-control-label">响应外设类型名</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="name" name="name" placeholder="如：蜂鸣器" class="form-control"></div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">
                                    提交
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/popper.js/dist/umd/popper.min.js"></script>

<script src="/vendors/jquery-validation/dist/jquery.validate.min.js"></script>


<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
